<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FMS.styles.css" asp-append-version="true" />
</head>
<body onunload="preventBack()">

    <div id="preloader">
    </div>
 @*   <header>
        <div class="container" style="width:100%;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FMS </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        </div>
    </header>*@

    
     <div class="container" style="width:100%;">
        @*Left side of the frame*@
           @* <div class="left_sidebar">
                <ul>
                <li><a asp-controller="Home" asp-action="Index">Login</a></li>
                <li><a asp-controller="Home" asp-action="" onclick="window.close()">Close</a></li>
                <li><a>Menu-1</a></li>
                <li><a>Menu-2</a></li>
                <li><a>Menu-3</a></li>
                <li><a>Menu-4</a></li>
                </ul>
        </div>>*@
            
            @*Right side of the frame*@
            <div @*class="right_sidebar"*@>             
                
                    @RenderBody()
                
             </div>
    </div>
    
    <div class="container">
            <footer class="footer">
            <a asp-area="" asp-controller="Home" asp-action="Privacy">&copy; 2022 - FMS - NESTS</a>
        </footer>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    <script>
       $(window).on('load', function(){
            $('#preloader').delay(2000).fadeOut('slow', function(){
            $("#preloader").removeClass("hidden");
            });
        });



        
            function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    
    </script>


</body>
</html>
