
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

html {
  position: relative;
  min-height: 100% !important;  
}

body {
    margin-bottom: 60px;
    width: 100%;
    height: 100% !important;
    background-color: #0e1c36;
}

#preloader 
{
    background :  #000 url(../images/loader.gif) no-repeat center center;
    position: fixed;
    background-size: 25%;
    height : 100vh;
    width:100%;
    z-index: 100;
}

.left_sidebar {
    position: relative;
    float: left !important;    
    height: 100%;
    width: 20%;
    margin: 0;
    overflow: hidden;    
    /*border-right:none;  */   
}

    .left_sidebar ul li {
        padding-top:25px;
        list-style:none;        
    }

        .left_sidebar ul li a{
            text-decoration:none;
            color:black;
        }

        .left_sidebar ul li a:hover{
            font-size: 22px;
            list-style-position: inside;
            cursor: pointer;
            background-color:black;
            color: white;
            text-decoration:underline;
            display: block !important;
        }

.right_sidebar {    
    position: relative;
    float: right !important;    
    height: 100%;
    width: 80%;
    margin: 0;
    overflow:hidden;
    text-align:center;   
}
